#kalk1
{
    border: solid 1px gray;
    padding: 10px;
    margin: 10px;
    width: 30%;
    background-color: lightgray;
}
div#kalk1 h1
{
    font-variant: small-caps;
    font-family: Algerian;
    letter-spacing: 0.1cm;
}
img
{
    width: 50%;
    border-radius: 15px;
}
#kalk2
{
    border: solid 1px gray;
    padding: 10px;
    margin: 10px;
    width: 30%;
    background-color: lightgray;
}
#kalk3
{
    border: solid 1px gray;
    padding: 10px;
    margin: 10px;
    width: 30%;
    background-color: lightgray;
}
#kalk4
{
    border: solid 1px gray;
    padding: 10px;
    margin: 10px;
    width: 30%;
    background-color: lightgray;
}